* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #fff;
}

body {
  min-width: 100vw;
  background: rgba(238, 235, 235, 0.8);
}

header {
  min-width: 100vw;
}

.movieButton {
  color: #fff;
  border-radius: 10px;
  font-size: 22px;
  border: none;
  padding: 0 40px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.movieButton.red {
  background-color: tomato;
}

a.movieButton {
  background: rgb(8, 155, 140);
}

a.movieButton:hover {
  background: transparent;
  color: rgb(8, 155, 140);
  border: 3px solid rgb(8, 155, 140);
}
.movieButtons {
  min-width: 400px;
  display: flex;
  justify-content: flex-end;
  gap: 12px;
  align-items: center;
  padding: 2rem 0;
}

.movieButton.red:hover {
  color: tomato;
  background: transparent;
  border: 3px solid tomato;
}
